@import url('__title/lead__title.css');
@import url('__subtitle/lead__subtitle.css');
@import url('__image/lead__image.css');
@import url('__caption/lead__caption.css');

.lead { 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 985px;
}

@media screen and (max-width: 1279px) {
    .lead {
        min-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        width: 100%;
    }
}