.footer__copyright {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: auto;
    margin-top: 0;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin-left: 0;
        text-align: inherit;
    }
}