.cover__img {
    position: absolute;
    width: 1184px;
    opacity: 0.5;
    z-index: 11;
    min-height: 216px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 1279px) {
    .cover__img{
        width: 100vw;
    }
}

