.video__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index:11;
}



@media screen and (max-width: 1023px) {
    .video__subtitle {
        
        left: 30px;
        top: 137px;
    }
}