.video__duration {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    position: absolute;
    top:105px;
    left: 30px;
    z-index:11;
}


@media screen and (max-width: 1023px) {
    .video__duration {
        
        left: 30px;
        top: 67px;
    }
}