@import url('__copyright/footer__copyright.css');
@import url('__link/footer__link.css');

.footer {
    display: flex;
    min-width: 1184px;
    margin: 100px 0px 50px;
}

@media screen and (max-width: 1279px) {
    .footer {
        min-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}
