@import url('__item/video__item.css');

.video__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1184px;
}

@media screen and (max-width: 1279px) {
    .video__container {
        width: 100%;
    }
}


@media screen and (max-width: 767px) {
    .video__container{
        flex-direction: column;
    }
}

